%% == Pre/Post Command Hooks ==
{pre_hooks,
    [
        {"(linux|darwin|solaris)", compile, "make -C \"$REBAR_DEPS_DIR/merl\" all -W test"},
        {"(freebsd|netbsd|openbsd)", compile, "gmake -C \"$REBAR_DEPS_DIR/merl\" all"},
        {"win32", compile, "make -C \"%REBAR_DEPS_DIR%/merl\" all -W test"}
    ]}.
